# INTRODUCTION TO SQL

- In this lesson, I would be showing you the basics of SQL and how you can write a query in a Jupyter notebook.

- The database used for this lesson is from the Chinook Database and can be found [here](https://github.com/lerocha/chinook-database/blob/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite)

- At the end of this lesson, you would have learnt:

    - How to install essential libraries and write SQL queries from a Jupyter Notebook
    - How to read an existing SQL database into a Jupyter notebook
    - The SQL 'SELECT' clause
    - Naming SQL queries using the 'AS' clause. 
    - Arithmetic in SQL: Addition, Division, Subtraction and Multiplication
    
- For basic rules you should look out for when starting out on your SQL learning journey, refer to my compiled list of rules named THE SQL BIBLE

In [19]:
# INSTALLING THE ESSENTIAL LIBRARIES

! pip install ipython-sql #this library enables you to run SQL queries directly in the Notebook
! pip install SQLAlchemy #this library enables you to take full advantage of SQL in Python
! pip install psycopg2-binary # to connect to the PostgreSQL database
! pip install snowflake-connector-python # to connect to the Snowflake atabase
! pip install mysql-connector-python # to connect to the MySQL database
! pip install pyodbc # to connect to the SQL server

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.9/site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.4.39)
Requirement already satisfied: prettytable<1 in /opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: traitlets>=4.2 in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pygments in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: appnope in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: backcall in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (63.4.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: SQLAlchemy in /opt/anaconda3/lib/python3.9/site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy) (1.1.1)
Requirement already satisfied: sql in /opt/anaconda3/lib/python3.9/site-packages (2022.4.0)
Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.9/site-packages (2.9.5)
Requirement already satisfied: snowflake-connector-python in /opt/anaconda3/lib/python3.9/site-packages (2.8.3)
Requirement already satisfied: oscrypto<2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (1.3.0)
Requirement already satisfied: pyjwt<3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (2.4.0)
Requirement already satisfied: pytz in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (2022.1)
Requirement already satisfied: cryptography<41.0.0,>=3.1.0 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (37.0.1)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (1.5.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (2022.9.24)
Requirement already satisfied: setuptools>34.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (63.4.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (1.15.1)
Requirement already satisfied: typing-extensions<5,>=4.3 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (4.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (3.3)
Requirement already satisfied: pyOpenSSL<23.0.0,>=16.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (22.0.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (2.0.4)
Requirement already satisfied: pycryptodomex!=3.5.0,<4.0.0,>=3.2 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (3.16.0)
Requirement already satisfied: requests<3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (1.26.11)
Requirement already satisfied: filelock<4,>=3.5 in /opt/anaconda3/lib/python3.9/site-packages (from snowflake-connector-python) (3.6.0)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.9/site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.21)
Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.9/site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.20.1)
Requirement already satisfied: cx_Oracle in /opt/anaconda3/lib/python3.9/site-packages (8.3.0)
Requirement already satisfied: pyodbc in /opt/anaconda3/lib/python3.9/site-packages (4.0.34)
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

- Note that you do not need to install all the databases in the last 4 lines above. Depending on which database you would like to connect to, it is only advisable to prioritize the MySQL database and the SQL server for now.


- Other databases you can connect to publicly include the [IBM Database](https://www.ibm.com/cloud/databases-for-mysql), [Oracle Database](https://www.oracle.com/database/) and so on. You can also connect to your company's database if you have access to that.

## READ THE DATABASE INTO THE JUPYTER NOTEBOOK

- In the next cell below, we would now connect to the database we would like to used for this lesson by reading it into the Jupyter notebook.

%%capture
%load_ext sql
%sql sqlite:///chinook.db

## THE SQL `SELECT` CLAUSE

- Now that we have connected to our database, we can now move on to learning our first clause in SQL: the `SELECT` clause.

- The SELECT clause is used in SQL to specify the columns from which data values are to be retrieved by the query. In other words, if our dataset has 5 columns and we want to sum up 2 out of the 5 columns using their headings, we can use the clause to specify what exactly we want our query to generate data values from.

- Let's try to use this clause in its simplest form:

In [28]:
%sql SELECT 3+5

 * sqlite:///chinook.db
Done.

[(8,)]

In [33]:
# Let's take this up a notch and use the clause to perform complex calculations.

%sql SELECT 1+3+5, 1+10,2+4+6+8+10;

 * sqlite:///chinook.db
Done.

[(9, 11, 30)]

## THE SQL `AS` CLAUSE

- There are cases where we would like to give descriptive names to the resulting values from our SQL queries. Just like in Python where we would assign values to a variable using the (=) sign, we can use the `AS` clause in SQL.

- Let us practice how to use this below:

In [34]:
%sql SELECT 2+3+5+7 AS sum_first_prime_numbers

 * sqlite:///chinook.db
Done.

[(17,)]

## ARITHMETIC IN SQL

- Just like we can use the various keyboard signs (/ * + -) to perform normal arithmetic on a regular calculator, we can also perform arithmetic calculations on SQL queries using the same signs.

- When performing arithmetic operations using SQL, note that SQL also follows the normal arithmetic operation rule when executing calculations. This implies that where you have a complex calculation with addition and division, you should introduce a parentheses so that SQL can divide before adding. Same follows for every other complex calculation.

- Let's explore an example below:

In [36]:
%sql SELECT 1340 - 3 AS sub, 7 * 3 AS mult, 21 / 7 AS div, 5 * (2 + 3) AS sum_mult;

 * sqlite:///chinook.db
Done.

[(1337, 21, 3, 25)]

In [37]:
%sql SELECT 2+3+5 AS sum_prime,20-3 AS sub, 16/2 AS div, 3*5 AS mult, (3+5) *2 AS sum_mult

 * sqlite:///chinook.db
Done.

[(10, 17, 8, 15, 16)]

## CONCLUSION

- This ends the introductory lesson to SQL and I believe that you have had a walkthrough of the learning points highlighted at the beginning of the lesson.

- We would now move on to learn Databases in SQL.